section.advantages
	.container
		.advantages__inner
			.advantages__item
				.advantages__item-number
					span 1978
					| г.
				.advantages__item-text Европейцы используют шведскую горечь еще с 1978 года
			.advantages__item
				.advantages__item-number
					span 104
					| года
				.advantages__item-text 104 года прожил автор бальзама
			.advantages__item
				.advantages__item-number
					span 40
					| показаний
				.advantages__item-text Больше 40 показаний к применению
			.advantages__item
				.advantages__item-number
					span 24
					| языка
				.advantages__item-text 8 млн книг на 24 языках продано о бальзаме

