section.build
	.container-fluid
		.build__wrapper
			.container
				.build__content
					.build__inner
						.build__inner-box
							.build__inner-title Вы принимаете участие в создании эликсира
							.build__inner-text
								p Приготовление бальзама потребует от вас минимум усилий. Достаточно залить травы 1,5 литрами водки и настоять в течение 14 дней ежедневно взбалтывая.
								p Но даже такое небольшое количество действий даст вам возможность почувствовать себя настоящим врачевателем и привнесет вашу энергетику в получившийся целительный эликсир.
								span Настоя одной упаковки хватает на 4-5 месяцев
							a(href="#").build__inner-link создать эликсир молодости и здоровья