.composition
	.container
		.composition__row
			.composition__item.composition__item-1
				.composition__item-inner
					.composition__item-num
						| — 01
					.composition__item-name
						| Angelica archangelica
					.composition__item-effect
						.composition__item-text
							| Корень дягиля (дудника) лекарственного
			.composition__item.composition__item-2
				.composition__item-inner
					.composition__item-num
						| — 02
					.composition__item-name
						| Carlina acaulis
					.composition__item-effect
						.composition__item-text
							| Колючник #[br] бесстебельный
			.composition__box
				.composition__title   Состав #[br] «Шведской горечи»
				.composition__box-list
					li Все травы, входящие в сбор, собраны в альпийском заповеднике «Гуркталь» и имеют немецкий сертификат качества.
					li Строго выверенные пропорции каждого компонента в составе
		.composition__row
			.composition__item.composition__item-3
				.composition__item-inner
					.composition__item-num
						| — 03
					.composition__item-name
						| Cunnamomum camphora
					.composition__item-effect
						.composition__item-text
							| Натуральная #[br] камфора
			.composition__item.composition__item-4
				.composition__item-inner
					.composition__item-num
						| — 04
					.composition__item-name
						| Fraxinus ornus
					.composition__item-effect
						.composition__item-text
							| Высушенный сок #[br] из ствола ясеня #[br] манного
			.composition__item.composition__item-5
				.composition__item-inner
					.composition__item-num
						| — 05
					.composition__item-name
						| Cammiphora molmol
					.composition__item-effect
						.composition__item-text
							| Мирра #[br] горькая
			.composition__item.composition__item-6
				.composition__item-inner
					.composition__item-num
						| — 06
					.composition__item-name
						| Pheum palmatum
					.composition__item-effect
						.composition__item-text
							| Корень #[br] ревня
			.composition__item.composition__item-7
				.composition__item-inner
					.composition__item-num
						| — 07
					.composition__item-name
						| Crocus sativus
					.composition__item-effect
						.composition__item-text
							| Шафран #[br] посевной
			.composition__item.composition__item-8
				.composition__item-inner
					.composition__item-num
						| — 08
					.composition__item-name
						|Cassia angustifolia
					.composition__item-effect
						.composition__item-text
							| Лист сенны #[br] александрийской
			.composition__item.composition__item-9
				.composition__item-inner
					.composition__item-num
						| — 09
					.composition__item-name
						| Artemisia absinthium
					.composition__item-effect
						.composition__item-text
							| Полынь #[br] горькая
			.composition__item.composition__item-10
				.composition__item-inner
					.composition__item-num
						| — 10
					.composition__item-name
						| Curcuma zedoaria
					.composition__item-effect
						.composition__item-text
							| Куркума #[br] (Цитварный корень)
		.composition__row
			.composition__link
				.composition__link-text
					p Все травы в составе бальзама обладают сильным очищающим воздействием, при этом каждый из компонентов усиливает действие остальных.
					p Соединяясь вместе они создают мощный очищающий эффект. Как оказалось, именно за счет этого эффекта бальзам способен исцелять многие болезни.
				a.composition__link-btn(href="#") заказать сбор трав
			.composition__item.composition__item-11
				.composition__item-inner
					.composition__item-num
						| — 11
					.composition__item-name
						| Theriak venezian
					.composition__item-title
						p Часть #[br] рецепта #[br] до сих пор #[br] находится #[br] в секрете
					.composition__item-effect
						.composition__item-text
							| Смесь трав #[br] по рецепту Марии #[br] Трэбэн