header.header
	.container
		.header__inner
			.header__logo
				a(href="#")
					img(src="assets/img/logo.png", alt="alt")
			.header__text
				|Доставка по всей Британии
			.header__phone
				a(href="tel:88000000000") 8 800 000-00-00
					.header__phone-text Звонок бесплатный