section.items
	.container-fluid
		.container
			.items__title
				|Что вы получите вместе со сбором трав «Шведская горечь»?
		.items__wrapper
			.items__inner
				.item
					.item__number 01
					.item__content
						img(src="assets/img/item-1.svg", alt="image").item__content-img
						.item__content-title
							|сбор трав
				.item
					.item__number 02
					.item__content
						img(src="assets/img/item-2.svg", alt="image").item__content-img
						.item__content-title
							|инструкция по применению
				.item
					.item__number 03
					.item__content
						img(src="assets/img/item-3.svg", alt="image").item__content-img
						.item__content-title
							|сертификат качества