section.list
	.container
		.list__title Что из этого списка вы находите у себя?
		.list__inner
			.tabs
				.tab.active(data-id='1')
					span 01
					| Сниженный тонус, не хватает энергии
				.tab(data-id='2')
					span 02
					| Прыщи, бородавки и растяжки
				.tab(data-id='3')
					span 03
					| Слабая память и концентрация
				.tab(data-id='4')
					span 04
					| Болеете чаще раза в год?
				.tab(data-id='5')
					span 05
					| Головные боли
				.tabs__box
					.tab(data-id='6')
						span 06
						| Синяки, шишки, ожоги, порезы долго не проходят
					.tab(data-id='8')
						span 08
						| Проблемы с желудком
					.tab(data-id='7')
						span 07
						| Плохо засыпаете и часто просыпаетесь
					.tab(data-id='9')
						span 09
						| Стресс
			.tabs__content
				#1.tab-item.item-1.active-tab 01
				#2.tab-item.item-2 02
				#3.tab-item.item-3 03
				#4.tab-item.item-4 04
				#5.tab-item.item-5 05
				#6.tab-item.item-6 06
				#7.tab-item.item-7 07
				#8.tab-item.item-8 08
				#9.tab-item.item-9 09
				.tabs__content-reviwes.tabs__reviews
					.tabs__reviews-inner
						.tabs__reviews-text Более 2 000 покупателей доказали эффективность «Шведской горечи» в каждом из этих случаев
						.tabs__reviews-link Читать отзывы
		.list__link
			a(href="#") избавиться от проблем
