section.quote
	.quote__wrapper
		.container
			blockquote.quote__inner  «Кто принимает бальзам утром и вечером, тому не нужны другие лекарства, так как он укрепляет тело, оживляет нервы и освежает кровь, снимает дрожь в руках и ногах.Тело остается упругим, лицо молодым и красивым»
				.author Автор бальзама, Доктор Клаус Замст
					span
						| &nbsp; /1620-1724 г.
