section.reviews
	.container
		.reviews__title Отзывы #[br] о «Шведской горечи»
	.container-fluid
		.reviews__inner
			.reviews__tabs
				.container
					.reviews__tab.active(data-id="tab-1") от российскийх потребителей
					.reviews__tab(data-id="tab-2") от зарубежных потребителей
			.container-fluid
				.reviews__content
					.container
						.reviews__content-item.active-tab(id="tab-1")
							.reviews__text
								| Если время от времени употреблять горечь, то вообще не будет болеть ОРЗ или ангинами. Младшему сыну я развожу раствор слабее (горечь, вода), он с удовольствием пьет, иногда даже сам просит сделать ему горечь. Только делаю меньше половины стакана, чтобы малыш смог выпить.
								span Аноним
							.reviews__text Этот сбор действительно очень хорошая вещь. Я его приобрела по совету своей тёти. Замечательно помогает при зубной боли, а также я его постоянно принимаю при простуде. Помогает хорошо и нет никакой химии.
								span Юлия
							.reviews__text Моя семья на протяжение многих лет пользуется шведской горечью. При болях в горле мы полоскаем горечью. Когда температура я даю горечь и при этом мы не пользуемся таблетками.
								span Натали
							.reviews__text Я покупаю уже готовый сбор шведский бальзам. Отказались от многих лекарственных препаратов благодаря бальзаму. Так что могу только посоветовать самим попробовать, это стоит того.
								span Евгений
						.reviews__content-item(id="tab-2")
							.reviews__text
								| Если время от времени употреблять горечь, то вообще не будет болеть ОРЗ или ангинами. Младшему сыну я развожу раствор слабее (горечь, вода), он с удовольствием пьет, иногда даже сам просит сделать ему горечь. Только делаю меньше половины стакана, чтобы малыш смог выпить.
								span Foreigner
							.reviews__text Этот сбор действительно очень хорошая вещь. Я его приобрела по совету своей тёти. Замечательно помогает при зубной боли, а также я его постоянно принимаю при простуде. Помогает хорошо и нет никакой химии.
								span Юлия
							.reviews__text Моя семья на протяжение многих лет пользуется шведской горечью. При болях в горле мы полоскаем горечью. Когда температура я даю горечь и при этом мы не пользуемся таблетками.
								span Натали
							.reviews__text Я покупаю уже готовый сбор шведский бальзам. Отказались от многих лекарственных препаратов благодаря бальзаму. Так что могу только посоветовать самим попробовать, это стоит того.
								span Евгений
		.container
			.reviews__link
				a(href="#").reviews__link-tab Читать ещё отзывы
				a(href="#").reviews__link-popup Присоединиться к тем, кто решил свои проблемы
