section.services
	.container
		.services__top
			.services__title-box
				.services-title
					| Наши Услуги
				.services-text
					| Комплексный подход к вашему вопросу, своевременная правовую помощь, представление интересов во всех судебных инстанциях.
			.services__btn
				a(href="") Показать все услуги
		.services__items
			.services__item
				img(src="assets/img/about-1.png", alt="")
				.services__item-title Банкротство и ликвидация
				.services__item-text Полное прекращение существования юридического лица с сохранением легальности всей предыдущей деятельности
				.services__item-btn
					a(href="#").services__item-link Подробнее
					a(href="javascript:;" data-fancybox="" data-src="#modal").default__btn
						| Заказать
						+icon('angle-right')
			.services__item
				img(src="assets/img/about-2.png", alt="")
				.services__item-title Адвокатское сопровождение
				.services__item-text Мы гарантируем полное профессиональное обслуживание клиентов в заявленных сферах деятельности и соблюдение конфиденциальности.
				.services__item-btn
					a(href="#").services__item-link Подробнее
					a(href="javascript:;" data-fancybox="" data-src="#modal").default__btn
						| Заказать
						+icon('angle-right')
			.services__item
				img(src="assets/img/about-3.png", alt="")
				.services__item-title Налоговый аудит
				.services__item-text Налоговый аудит проводят перед проведением налоговых проверок; при оценке возможных налоговых рисков; при оптимизации налогообложения.
				.services__item-btn
					a(href="#").services__item-link Подробнее
					a(href="javascript:;" data-fancybox="" data-src="#modal").default__btn
						|	Заказать
						+icon('angle-right')