.slider
	.container
		.slider__inner
			.slider__item
				.slider__item-content
					.slider__title
						| Комплексное закрытие предприятия
					.slider__text
						| Полное прекращение существования юридического лица с сохранением легальности всей предыдущей деятельности.
					a(href="javascript:;" data-fancybox="" data-src="#modal").slider__btn.default__btn
						| Оставить заявку
						+icon('angle-right')
			.slider__item
				.slider__item-content
					.slider__title
						| Комплексное закрытие предприятия
					.slider__text
						| Полное прекращение существования юридического лица с сохранением легальности всей предыдущей деятельности.
					a(href="javascript:;" data-fancybox="" data-src="#modal").slider__btn.default__btn
						| Оставить заявку
						+icon('angle-right')
			.slider__item
				.slider__item-content
					.slider__title
						| Комплексное закрытие предприятия
					.slider__text
						| Полное прекращение существования юридического лица с сохранением легальности всей предыдущей деятельности.
					a(href="javascript:;" data-fancybox="" data-src="#modal").slider__btn.default__btn
						| Оставить заявку
						+icon('angle-right')
