section.top
	.top__images
	.top__wrapper
		.container
			.top__inner
				.top__inner-img
					img(src="assets/img/top.png", alt="alt")
				.top__inner-form
					.top__inner-suptitle Сбор трав
					.top__inner-title Шведская горечь
					.top__inner-text Не имеет аналогов в мире по оздоровительной силе и широте лечебных свойств
					.top-form
						form
							.top-form__inner
								.top-form__title Узнайте подробнее о бальзаме
								input(type="text", placeholder="Имя")
								input(type="text", placeholder="Телефон")
								button(type="submit") Узнать

