extends ../layout/main

block variables
	- var title = 'Swedish Bitter';
	- var description = 'Swedish Bitter';
	- var pageClass = 'index-page';

block content
	include ../includes/modules/_header
	include ../includes/modules/_top
	include ../includes/modules/_advantages
	include ../includes/modules/_list
	include ../includes/modules/_popularity
	include ../includes/modules/_history
	include ../includes/modules/_quotes
