extends ../layout/main

block variables
	- var title = 'Fashion';
	- var description = 'Fashion Eshop';
	- var pageClass = 'index-page';

block content
	include ../includes/modules/_header
	include ../includes/modules/_slider
	include ../includes/modules/_services
	include ../includes/modules/_about
	include ../includes/modules/_form
	include ../includes/modules/_advantages
	include ../includes/modules/_news
	include ../includes/modules/_footer
