.advantages
	padding: 55px 0 40px
	background-image: url(../img/advantages-bg.jpg)
	background-repeat: no-repeat
	background-position: center
	min-height: 285px
	background-size: cover
	&__inner
		color: $white-color
		text-align: center
		display: flex
		justify-content: space-between
	&__item
		max-width: 360px
		padding: 0 20px
	&__title
		font-size: 18px
		line-height: 24px
		font-family: "Roboto-medium" sans-serif
		padding: 60px 0 15px
		position: relative
		&:before
			position: absolute
			width: 40px
			height: 40px
			border: 2px solid $accent-color
			top: 0
			left: 50%
			transform: translateX(-50%)
			content: ''
		&:after
			content: ''
			display: inline-block
			width: 14px
			height: 14px
			background-image: url("data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgZGF0YS1wcmVmaXg9ImZhcyIgZGF0YS1pY29uPSJjaGVjayIgY2xhc3M9InN2Zy1pbmxpbmUtLWZhIGZhLWNoZWNrIGZhLXctMTYiIHJvbGU9ImltZyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTE3My44OTggNDM5LjQwNGwtMTY2LjQtMTY2LjRjLTkuOTk3LTkuOTk3LTkuOTk3LTI2LjIwNiAwLTM2LjIwNGwzNi4yMDMtMzYuMjA0YzkuOTk3LTkuOTk4IDI2LjIwNy05Ljk5OCAzNi4yMDQgMEwxOTIgMzEyLjY5IDQzMi4wOTUgNzIuNTk2YzkuOTk3LTkuOTk3IDI2LjIwNy05Ljk5NyAzNi4yMDQgMGwzNi4yMDMgMzYuMjA0YzkuOTk3IDkuOTk3IDkuOTk3IDI2LjIwNiAwIDM2LjIwNGwtMjk0LjQgMjk0LjQwMWMtOS45OTggOS45OTctMjYuMjA3IDkuOTk3LTM2LjIwNC0uMDAxeiI+PC9wYXRoPjwvc3ZnPg==")
			position: absolute
			top: 15px
			left: 50%
			transform: translateX(-50%)

	&__text
		line-height: 24px
		color: #d3d2d2
		letter-spacing: 0.1px