.container
	max-width: 1200px
	padding-left: 15px
	padding-right: 15px
	margin: auto
.header, .footer
	&__inner
		display: flex
		justify-content: space-between
		height: 105px
		align-items: center
	&__text
		margin-right: auto
		margin-left: 30px
		color: $link-color
	&__phone
		font-size: 20px
		a
			color: $black-color
			position: relative
			&::before
				content: ''
				background-image: url(../img/phone-outline.svg)
				width: 15px
				height: 15px
				position: absolute
				left: -27px
				top: 5px
		&-text
			font-size: 12px
			color: $link-color
			text-align: right
			padding-top: 3px