@media (max-width: 1156px)
	.services__items
		display: block
	.services__item
		max-width: 80%
		min-height: 330px
		margin: 30px auto
	.form__inner
		background-image: none
	.news__inner
		display: block
	.news__slider
		max-width: 100%
		margin-bottom: 90px
	.news__blog
		max-width: 100%
		display: block
		margin-bottom: 30px
		&:after
			content: ''
			clear: both
			display: block
		&-title
			padding-top: 0
	.news__images
		img
			float: left
			margin-right: 50px
	.news
		padding-bottom: 60px
	.footer__info
		max-width: 465px
		margin-bottom: 25px
@media (max-width: 1050px)
	.footer__inner
		display: block
	.footer__map
		max-width: 100%
@media (max-width: 900px)
	.slider
		.slick-btn
			display: none !important
	.services__top, .news__top
		display: block
	.services__title-box, .form__title-box, .news__title-box
		padding-left: 0
		text-align: center
		margin: 0 auto 30px
		&::before
			display: none
	.services__btn, .news__btn
		text-align: center
	.form__box
		&-inner
			display: block
		&-left, &-right
			max-width: 100%
		&-right
			textarea
				margin-bottom: 25px
		.jq-selectbox__select
			margin-bottom: 10px
	.form
		padding-bottom: 25px
	.advantages__inner
		display: block
	.advantages-item
		max-width: 100%
		margin-bottom: 30px
@media (max-width: 700px)
	.header
		&__btn
			float: none
			display: block
			.icon-briefcase
				display: none
			&-menu
				display: block
		&__contacts
			text-align: center
	.menu
		ul
			display: none
			position: absolute
			left: 0
			right: 0
			margin-top: 20px
			z-index: 50
		li
			text-align: center
		li, a
			display: block
		a
			background-color: $accent-color
			border-top: 1px solid $white-color
			border-bottom: 1px solid $white-color
		li + li
			padding: 0
@media (max-width: 600px)
	.services__item
		min-width: 100%
		min-height: 375px
		margin: 30px auto
@media (max-width: 540px)
	.news__slider
		padding: 50px 15px 25px 25px
		&::before
			left: 25px
		&-inner
			.slick-next
				right: -20px
			.slick-prev
				right: 35px
	.news__images
		img
			float: none
	.news__slider-inner
		.slick-btn
			bottom: -90px
@media (max-width: 414px)
	.slider__title
		font-size: 24px
	.slider__text
		font-size: 16px
@media (max-width: 400px)
	.header
		&__btn
			.icon-briefcase
				display: block
	.advantages-item
		padding: 0
@media (max-width: 375px)
	.header
		&__email
			padding-right: 30px

@media (min-width: 700px)
	.menu
		ul
			display: block !important